

streamlit==1.52.2

langchain==1.2.0
langchain-core==1.2.5
langchain-openai==1.1.6
openai==2.14.0
python-dotenv==1.2.1

docx2pdf==0.1.8

pdfplumber==0.11.8

python-docx==1.2.0
reportlab==4.4.7

beautifulsoup4==4.14.3
requests==2.32.5
regex==2025.11.3
